<!-- 사이드바 html 코드 -->
<aside>
  <h1>BigShort's</h1>
  <img class="logo_sidebar" src="/src/logo_sidebar.png" />
  <div class="menu">
    <a href="/home">
      <i class="fas fa-duotone fa-house-chimney"></i>
      HOME
    </a>
    <a href="/analysis">
      <i class="fas fa-duotone fa-chart-simple"></i>
      Analysis
    </a>
    <a href="/records">
      <i class="fas fa-duotone fa-clipboard-list"></i>
      Records
    </a>
    <a href="/accounts">
      <i class="fas fa-duotone fa-user"></i>
      Accounts
    </a>
    <a
      href="/revoke"
      style="
        margin-top: 20vh;
        color: #7170a4;
        font-weight: 900;
        font-size: 20px;
      "
    >
      <i class="fas fa-duotone fa-arrow-right-from-bracket"></i>
      LOGOUT
    </a>
  </div>
</aside>
