<!-- 서버 쪽에서 문제가 발생했을 때 나타나는 html파일 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유튜브 중독방지 웹서비스</title>
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <script
      src="https://kit.fontawesome.com/510fbf9652.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <%- include('includes/sidebar') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server - we're doing our best
        to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>
