@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Happiness-Sans-Title";
}

body {
  font-family: "Roboto", sans-serif;

  display: flex;

  background-color: #07064a;
}

.start {
  position: absolute;
  left: 27vw;
  width: 70%;
}

.start_h2 {
  color: white;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.start_today {
  color: white;
  position: absolute;
  top: 15vh;
  left: 5vw;
}

.main-container {
  background: #ffffffd7;
  color: #172055;
  border-radius: 30px;
  position: absolute;
  top: 35vh;
  left: 5vw;
  padding: 20px;
  width: 58vw;
  height: 35vh;
  text-align: center;
}

.year-stats {
  white-space: nowrap;
  height: 220px;             /* max-height를 height로 변경 */
  overflow: hidden;
  display: flex;              /* 요소들을 flexbox로 레이아웃 */
  align-items: flex-end;     /* 아래쪽에 맞추어 요소를 정렬 */
  justify-content: space-around; /* 요소들 간의 공간을 동일하게 설정 */
}

.year-stats:hover {
  overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
  height: 5px;
  width: 100%;
}

.month-group {
  cursor: pointer;
  height: 180px;            /* 높이를 조정하여 텍스트가 잘리지 않도록 */
  margin: 10px;
  display: flex;            /* 이 요소도 flexbox로 설정 */
  flex-direction: column;   /* 세로방향으로 요소를 정렬 */
  align-items: center;      /* 가로축 중앙 정렬 */
  justify-content: flex-end; /* 아래쪽에 맞추어 요소를 정렬 */
  flex: 1;                  /* 요소들이 컨테이너 내부 공간을 균등하게 차지 */
}


.bar {
  background-color: #172055;
  width: 25px;              /* 막대 두께를 늘림 */
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 10%;
}

.month-group:hover .bar,
.sel .bar {
  background: #b63154;
}

.month-group:hover .bar,
.selected .bar {
  background: #acced6;
}

.month-group:hover p,
.selected p {
  color: #fff;
}

.bar-today {
  background-color: #b63154; /* 원하는 붉은 색으로 설정 */
}